@import "../../node_modules/tailwindcss";

.noselect {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE 10+ */
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --font-bebas:  var(--font-bebas)
}

/* Hide the Next.js development badge */
#__next > div > div > div > div > div {
  display: none !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:  var(--font-bebas);
}

svg {
  font-family: var(--font-bebas)
}

#scrolly {
  font-family: var(--font-bebas), sans-serif;
  position: relative;
  padding: 0rem;
}


article {
  position: relative;
  pointer-events: none;
  padding: 0px;
  padding-top: 90vh;
  max-width: calc(max(40rem, 80vw));
  margin: 0 auto;
  z-index: 500;
  gap: 4rem;  /* <--- guaranteed spacing between steps */
}

figure {
  position: fixed;
  left: 0;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin: 0;
  padding: 0;
  z-index: 0;
}


.step {
  margin: 0 auto 2rem auto;
  background-color: #FFFFFF66;
  color: #ffffff;
  border: 0.5px solid #D1C0AF; /* thickness, style, and color */
  border-radius: 0.4rem;    /* controls how rounded the corners are */
  padding: 2rem;     /* optional: adds spacing inside the div */

}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active p{
  opacity: 1;
}

.step p {
  text-align: center;
  padding: 0.75rem;
  font-size: 1rem;
}

@keyframes pulse {
  0% {transform: scale(1); opacity: 1}
  50% {transform: scale(1.5); opacity: 0.5;}
  100% {transform: scale(1); opacity: 1;}
}

.pulse {
  animation: pulse 1s ease-in-out infinite;
  transform-origin: center;
}
